<div class="card" style="width: 27rem;">
    <img src="~/Images/Various/kontakt.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Skontaktuj się z nami</h5>
        <p><span> -> Bydgoszcz, ul. Gdańska 21</span></p>

        <p><span> -> Poniedziałek - Sobota, 8.00 - 20.00</span></p>

        <p><span> -> 347-764-238</span></p>

        <p><span> -> dentalklinika.pl</span></p>

        <a href="Index" class="btn btn-outline-secondary">Powrót</a>

    </div>
</div>

