<body>
    <div class="card text-center" style="width: 30rem;">
        <img src="~/Images/Various/image_2.jpg" class="card-img-top" align="right" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">O nas</h5>
            <p class="text-justify">
                Dental@App to przychodnia stomatologiczna istniejąca w Bydgoszczy.
                Każdego dnia w trosce o Państwa zdrowie i poczucie komfortu dbamy o najwyższą jakość naszych usług.
                Dzięki staraniom wykwalifikowanego, doświadczonego personelu mają Państwo dostęp do profesjonalnego i
                kompleksowego leczenia w obrębie jednej przychodni. Świadczymy usługi stomatologiczne, ortodontyczne oraz
                z zakresu chirurgii szczękowej.
            </p>
            <a asp-controller="Employee" asp-action="NewList" class="btn btn-outline-primary">Poznaj nas</a>
        </div>
    </div>

</body>