@model DentalApp.ViewModels.AppointmentDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<html>
<head>
    <title></title>
</head>
<body>
    <br />
    <img src="~/Images/Various/assist.jpg" class="rounded mx-auto d-block" height="150" width="135" />
    <hr />
    <p class="text-center">Przykro nam @UserManager.GetUserAsync(User).Result.FirstName, ale w tym terminie lekarz ma już umówioną wizytę.</p>

    <p class="text-center">Czy chcesz wybrać inny termin wizyty?</p>
    <hr />
    <br />
    <input type="button" onclick="history.go(-1)" value="Tak, zmieniam" class="btn btn-outline-primary" />
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Nie, dziękuję</a>
</body>
</html>
