@model DentalApp.ViewModels.AppointmentViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
}

@if (SignInManager.IsSignedIn(User))
{
    <img src="~/Images/Various/assist.jpg" align="left" height="150" width="135" />
    <h4 class="text-primary">  Umów wizytę @UserManager.GetUserAsync(User).Result.FirstName</h4>
    <div class="row">
        <div class="col-md-4">
            <br />
            <form asp-controller="Appointment" asp-action="CreateAppointment" asp-route-id="@Model.Employee.EmployeeID" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <p class="text-white bg-dark">Lekarz ID</p>
                    <label asp-for="EmployeeID" class="control-label">Proszę podać ID Lekarza</label>
                    <input asp-for="EmployeeID" class="form-control" />
                    <span asp-validation-for="EmployeeID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p class="text-white bg-dark">Email pacjenta</p>
                    <label asp-for="UserName" class="control-label">Proszę podać Email pacjenta</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p class="text-white bg-dark">Email pacjenta</p>
                    <label asp-for="EmployeeEmail" class="control-label">Proszę podać Email pacjenta</label>
                    <input asp-for="EmployeeEmail" class="form-control" />
                    <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p class="text-white bg-dark">Data wizyty</p>
                    <label asp-for="AppointmentStart" class="control-label">Proszę podać datę i godzinę wizyty</label>
                    <input asp-for="AppointmentStart" class="form-control" />
                    <span asp-validation-for="AppointmentStart" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary">Umawiam</button>
                    @*<button type="submit" asp-controller="Wizyta" asp-action="WizytaDetails" asp-route-id="@Model.Lekarz.LekarzID" class="btn btn-primary">Umawiam</button>*@
                    <a asp-controller="Employee" asp-action="NewList" class="btn btn-outline-secondary">Powrót</a>
                </div>
            </form>
        </div>
    </div>
}

else
{
    <br>
    <img src="~/Images/img1.jpg" align="left" height="200" width="250" />
    <font size="5">Przed umówieniem wizyty, proszę się zalogować.</font>
    <br>
    <br>
    <font size="3">Czy już się rejestrowałeś? Proszę potwierdzić rejestrację.</font>
    <br>
    <br>
    <br>
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Zarejestruj się</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Zaloguj się</a>
        </li>
        <li class="nav-item">
            <a asp-controller="NewLekarz" asp-action="NewIndex" class="btn btn-outline-secondary">Powrót</a>
        </li>
    </ul>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



